*
{
	margin:0%;
	padding:0%;
	box-sizing:bolder-box;
}
body
{
	background-color:black;
}
.box
{
	height:460px;
	width:880px;
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('image/banner.jpg');
	position:absolute;
	transform:translate(-50%,-50%);
	top:50%;
	left:50%;
	background-repeat:no-repeat;
	background-size:cover;
}
.logo
{
	height:150px;
	width:150px;	
	background-image:url('image/logo.png');
	background-repeat:no-repeat;
	background-size:cover;
	position:absolute;
	right:0%;
	font-size:25px;
}
.one
{
	position:absolute;
	right:450px;
    font-family: Arial, Helvetica, sans-serif;
	font-size:45px;
	margin-top:80%;
	color:white;
	
}
.two
{
	position:absolute;
	right:277px;
    font-family: Arial, Helvetica, sans-serif;
	font-size:45px;
	margin-top:80%;
	color:white;
}
a
{
	border:1px solid;
	background-color:red;
	color:white;
	text-decoration:none;
	border-radius:10px;
	font-size:35px;
    font-family: Arial, Helvetica, sans-serif;
	position:absolute;
	bottom: 450px;
	left: 30%;
    
	
}